<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>LotoFacil - Gerador de Dezenas</title>
    <!--<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- External Library -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-i18n/1.6.1/angular-locale_pt-pt.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-sanitize.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.5.0.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/ngMask/3.1.1/ngMask.js"></script>

    <!-- Source Code -->
    <script src="app/main.js"></script>
    <script src="app/controller.js"></script>
    <script src="app/services.js"></script>

    <!-- CSS External Library -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- Backand SDK for Angular -->
    <script src="//cdn.backand.net/vanilla-sdk/1.0.9/backand.js"></script>
    <script src="//cdn.backand.net/angular1-sdk/1.9.5/backand.provider.js"></script>

</head>
<body>

    <div class="container" ng-app="app">

        <div ng-controller="ReadTens">

            <div class="page-header">
                <h1>Loto Fácil</h1>
            </div>

            <div ng-controller="DatepickerPopupDemoCtrl">
                <div class="row">
                    <div class="col-md-2">
                        Sorteio
                    </div>
                    <div class="col-md-2">
                        <p class="input-group">
                            <input ng-change="limparAvisos()" type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" current-text="Hoje" clear-text="Limpar" close-text="Fechar" alt-input-formats="altInputFormats" />
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
                            </span>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Dezenas
                    </div>
                    <div class="col-md-6">
                        <input ng-change="limparAvisos()" type="text" class="form-control" ng-model="ten" mask="29 " mask-repeat='15' max='25' />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        Confira
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 alert alert-info">
                        ({{dt| date:'dd/MM/yyyy'}} - {{dt| date:'fullDate'}}) - {{ten}}
                    </div>
                </div>

                <div class="btn-group" data-toggle="buttons">

                    <label class="btn btn-primary" ng-click="incluir()">
                        Incluir
                    </label>

                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 ng-show="mostrarSucesso" class="row alert alert-success">
                            {{sucesso}}
                        </h5>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h5 ng-show="mostrarErro" class="row alert alert-danger">
                            Erro, {{error}}
                        </h5>
                    </div>
                </div>
            </div>

            <hr />


            <h5>Remover tudo.. <img style="cursor:pointer;" ng-click="deletarTodas()" src="https://hosting.backand.io/lotofacil2/img/delete.png" /></h5>
            <h5>Incluir 226 dezenas (estudas no papel impresso).. <img style="cursor:pointer;" ng-click="reset(0)" src="https://hosting.backand.io/lotofacil2/img/add.png" /></h5>
            <h5>Incluir todas as dezenas (até 05/06/2017).. <img style="cursor:pointer;" ng-click="reset(1)" src="https://hosting.backand.io/lotofacil2/img/add.png" /></h5>

            <hr />

            <h3><b>13 Dezenas escolhidas:</b> {{Ten13ValidaExibir}}</h3>


            <!--<h2>Passo a Passo</h2>

            <div class="row">
                <div class="col-md-6">

                    <div class="page-header">
                        <h4>Frequência 10 Dezenas</h4>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dezena</th>
                                <th>Vezes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="frequencia in frequencia10 | orderBy: 'Dezena' ">
                                <td>{{frequencia.Dezena}}</td>
                                <td>{{frequencia.Vezes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


                <div class="col-md-6">
                    <div class="page-header">
                        <h4>Frequência 20 Dezenas</h4>
                    </div>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Dezena</th>
                                <th>Vezes</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="frequencia in frequencia20 | orderBy: 'Dezena' ">
                                <td>{{frequencia.Dezena}}</td>
                                <td>{{frequencia.Vezes}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>-->




            <div class="page-header">
                <h4>Mapa Geral das Estatísticas</h4>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Dezena</th>
                                <th>10 dezenas</th>
                                <th>20 dezenas</th>
                                <th>10 e 20 dezenas</th>
                                <th>Todas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="frequencia in mapaGeral">
                                <td>{{$index+1}}</td>
                                <td>{{frequencia.Dezena}}</td>
                                <td>{{frequencia.d10}}</td>
                                <td>{{frequencia.d20}}</td>
                                <td>{{frequencia.d1020}}</td>
                                <td>{{frequencia.dTodas}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <!--<h5><b>Frequencia 1020:</b> {{frequencia1020}}</h5>
            <h5><b>Frequencia Todas:</b> {{frequenciaTodas}}</h5>
            <h5><b>Ordenado:</b> {{mapaGeral}}</h5>
            <h5><b>Menos 5:</b> {{mapaGeralMenos5Menos}}</h5>
            <h5><b>Mais 13:</b>{{mapaGeralMais13Provavel}}</h5>-->


            <div class="page-header">
                <h1>Últimas 10 Dezenas</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sorteio</th>
                                <th>Dezena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ten in tens10 | orderBy: '-raffle' ">
                                <td>{{$index+1}}</td>
                                <td>{{ten.raffle}}</td>
                                <td>{{ten.tens}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-header">
                <h1>Últimas 20 Dezenas</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sorteio</th>
                                <th>Dezena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ten in tens20 | orderBy: '-raffle' ">
                                <td>{{$index+1}}</td>
                                <td>{{ten.raffle}}</td>
                                <td>{{ten.tens}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="page-header">
                <h1>Todas Dezenas {{tens.length}}</h1>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Deletar</th>
                                <th>Sorteio</th>
                                <th>Dezena</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="ten in tens | orderBy: '-raffle' ">
                                <td>{{$index+1}}</td>
                                <td><img style="cursor:pointer;" ng-click="deletar(ten)" src="https://hosting.backand.io/lotofacil2/img/delete.png" title="{{ten.id}}" /></td>
                                <td>{{ten.raffle}}</td>
                                <td>{{ten.tens}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>




            <!--<input type="text" ng-model="min" placeholder="Entre com as dezenas 01 02 ..." />
            <p>Início: {{ min }}</p>
            <p>Dezenas para inclusão: {{ TenService.randomTen(min, 25) }}</p>-->

        </div>
    </div>

</body>
</html>